<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jero.motelmalltest.mapper.home.InfoPublishMapper" >
  <resultMap id="BaseResultMap" type="com.jero.motelmalltest.po.home.InfoPublish" >
    <id column="INFO_ID" property="infoId" jdbcType="VARCHAR" />
    <result column="INFO_TITLE" property="infoTitle" jdbcType="VARCHAR" />
    <result column="INFO_CONTENT" property="infoContent" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="CREATEOR" property="createor" jdbcType="VARCHAR" />
    <result column="INFO_TYPE" property="infoType" jdbcType="VARCHAR" />
    <result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR" />
    <result column="VEDIO_URL" property="vedioUrl" jdbcType="VARCHAR" />
    <result column="KEY_WORD" property="keyWord" jdbcType="VARCHAR" />
    <result column="INFO_STATUS" property="infoStatus" jdbcType="VARCHAR" />
    <result column="IS_RECOMMEND" property="isRecommend" jdbcType="CHAR" />
    <result column="IS_LOCKED" property="isLocked" jdbcType="CHAR" />
    <result column="IS_DELETE" property="isDelete" jdbcType="CHAR" />
    <result column="INFO_POSITION" property="infoPosition" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="infoPublishList" resultMap="BaseResultMap" parameterType="java.lang.String">
  SELECT INFO_ID,INFO_TITLE,INFO_CONTENT,CREATE_TIME,UPDATE_TIME,CREATEOR,
  		 INFO_TYPE,PICTURE_URL,VEDIO_URL,KEY_WORD,INFO_STATUS,IS_RECOMMEND,
  		 IS_LOCKED,IS_DELETE,INFO_POSITION,COMMENTS
  FROM INFO_PUBLISH
 <where>
 INFO_TYPE = #{infoType}
 </where>
 ORDER BY CREATE_TIME DESC
 LIMIT 5
  </select>
</mapper>